export(make_gformula_config)
export(make_toronto_mixture_config)
export(validate_gformula_data)
export(make_lags)
export(create_mc_skeleton)
export(fit_joint_models)
export(simulate_joint_gformula)
export(assign_natural_course)
export(assign_joint_intervention)
export(predict_joint_outcome)
export(estimate_joint_effects)
export(describe_model_plan)
export(run_joint_gformula)
export(run_joint_pipeline)
export(bootstrap_joint_gformula)
export(summarize_joint_bootstrap)
export(diagnose_joint_bootstrap)
export(summarize_risk_trajectory)
importFrom(data.table,":=")
importFrom(data.table,.SD)
importFrom(data.table,as.data.table)
importFrom(data.table,copy)
importFrom(data.table,data.table)
importFrom(data.table,fcase)
importFrom(data.table,rbindlist)
importFrom(data.table,setkey)
importFrom(data.table,setorder)
importFrom(data.table,setnames)
importFrom(data.table,setkeyv)
importFrom(speedglm,speedglm)
importFrom(nnet,multinom)
importFrom(stats,fitted)
importFrom(stats,predict)
importFrom(stats,runif)
importFrom(utils,tail)
export(run_static_intervention_meta)
export(fit_pooled_hazard_meta_model)
export(simulate_static_intervention)
export(bootstrap_static_intervention_meta)
export(summarize_static_intervention_bootstrap)
export(summarize_static_scenario_risks)
export(diagnose_positivity_joint_gformula)

export(diagnose_internal_validity_joint_gformula)
